.dice{
  height: 30px;
  width: 30px;
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}

table, tr, th, td{
  border: 1px solid black;
}

.selected{
  background-color: gold;
}

.submitted{
  background-color: gold;
}