body{
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  text-align: center;
}

#container{
  max-width: 100vw;
  margin: 0 auto;
}

#rules li{
  text-align: left;
}

.button{
  background-color: var(--bg-secondary);
  border: 2px solid var(--borders);
  color: var(--text-secondary);
  font-family: 'Josefin Sans', sans-serif;
  height: 32px;
  padding: 5px 10px;
  cursor: pointer;
}

.dice{
  height: 30px;
  width: 30px;
  border: 1px solid var(--dice-secondary);
  text-align: center;
  line-height: 32px;
  display: inline-block;
  background-color: var(--dice-primary);
  color: var(--dice-secondary);
  border-radius: 25%;
  cursor: pointer;
  margin-bottom: 10px;
}

.selected{
  background-color: var(--bg-selected);
  color: var(--text-primary);
  border: 1px solid var(--borders);
}

table, tr, th, td{
  border: 1px solid var(--borders);
  color: var(--text-secondary);
  margin: 0 auto;
}

table{
  background-color: var(--borders);
}

tr, th, td{
  background-color: var(--bg-secondary);
  padding: 5px;
}

.score-label{
  text-align: left;
}

.submitted{
  background-color: var(--bg-submitted);
  color: var(--text-secondary);
}

.hidden{
  display: none;
}

@media(hover: hover){
  .valid-selectable:hover{
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border: 1px solid var(--text-secondary);
  }

  .submitted:hover{
    background-color: var(--bg-submitted);
    color: var(--text-secondary);
  }

  .valid-option:hover{
    cursor: pointer;
    background-color: var(--bg-option);
    color: var(--text-secondary);
  }
}